body {
  background-color: #f1f1e8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 0;
}

.header {
  background-color: #f1f1e8;
  width: 50vw;
  height: 35vw;
}
.h2 {
  color: rgb(216, 87, 173);
  position: absolute;
  top: 50px;
  left: 20vh;
  font-size: 1.9rem;
}
.intro {
  color: rgb(216, 87, 173);
  text-align: center;
  font-size: 1.9rem;
  margin-top: 300px;
  line-height: 1.8;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 1.9rem;
}
.home {
  display: inline-block;
  padding: 1px 5px;
  color: rgb(216, 87, 173);
  background-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  top: 15px;
  right: 110px;
  position: absolute;
}
.home:hover {
  font-weight: bolder;
}
.about {
  display: inline-block;
  padding: 1px 5px;
  color: rgb(216, 87, 173);
  background-color: transparent;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  top: 15px;
  right: 38px;
  position: absolute;
}
.about:hover {
  font-weight: bolder;
}

.content {
  display: flex;
}

.content1 {
  background-color: #ecd7ec;
  width: 100vw;
  height: 25vw;
  display: flex;
  place-items: center;
  justify-content: center;
  p {
    color: #fffffe;
    position: absolute;
    right: 63%;
    top: 1050px;
  }
}

.content2 {
  background-color: #e0dacd;
  width: 100vw;
  height: 25vw;
  display: flex;
  place-items: center;
  justify-content: center;

  p {
    color: rgb(216, 87, 173);
    position: absolute;
    right: 14%;
    top: 1050px;
  }
}

.content3 {
  background-color: #e9e6d8;
  width: 100vw;
  height: 25vw;
  display: flex;
  place-items: center;
  justify-content: center;
  p {
    color: rgb(216, 87, 173);
    position: absolute;
    right: 63%;
    top: 1499px;
  }
}
.content4 {
  background-color: #ecd7ec;
  width: 100vw;
  height: 25vw;
  display: flex;
  place-items: center;
  justify-content: center;
  p {
    color: rgb(216, 87, 173);
    position: absolute;
    right: 17%;
    top: 2000px;
  }
}
.content5 {
  background-color: #f3edf2;
  width: 100vw;
  height: 25vw;
  display: flex;
  place-items: center;
  justify-content: center;
  p {
    color: #fffffe;
    position: absolute;
    right: 16%;
    top: 1510px;
  }
}
.content6 {
  background-color: #e9e6dc;
  width: 100vw;
  height: 25vw;
  display: flex;
  place-items: center;
  justify-content: center;
  p {
    color: #fffffe;
    position: absolute;
    right: 63%;
    top: 2000px;
  }
}
